form {
    border-radius: 8px;
    margin: 40px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: justify;
    max-width: 800px;
    width: 100%;
    height: auto;
    float: left;
}

form h1 {
    font-size: 50px;
    color: var(--text-color);
    margin-top: 0;
}

form fieldset {
    border: 1;
    border-radius: 20px;
}

form legend {
    margin-bottom: 24px;
}

form legend h2 {
    font-size: 24px;
    color: #00c3a5;
    margin: 20;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    color: #fdfdfd;
    font-size: 24px;
}

form .field-group {
    display: flex;
}

form select {
    background-color: #00c3a5;
    color: #fdfdfd;
    border: 0;
    padding: 16px 24px;
    font-size: 22px;
    border-radius: 8px;
}

form a button {
    cursor: pointer;
    color: #364253;
    margin-top: 40px;
    display: flex;

    
    background-color: #00c3a5;
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content:center;
}
