#contentleft{
    float: left;
    width: auto;
    height: auto;
    text-align: justify;
}

#perfil, #end{
    background-color:#414f63;
    width: 800px;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    padding: 7px;
    border-radius: 15px;
    align-items: center;
}

#perfil img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 3px;
    background-color: #414f63;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
}

#perfil button {
    cursor: pointer;
    background-color: #00c3a5;
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content:right;
}

#info h1 { 
    font-size: 24pt;
    margin-top: 5px;
    color: #00c3a5;
}

#info h3 {
    font-size: 12pt;
    margin-top: 35px;
    margin-bottom: 0px;
}

#info h4{
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 30px;
}

#end h1 {
    font-size: 24pt;
    margin-top: 5px;
    margin-bottom: 40px;
    color: #00c3a5;
}

#end h2{
    font-size: 12pt;
    margin: 5px;
    margin-bottom: 20px;
}
#end h3{
    font-size: 12pt;
    margin: 5px;
}

#contentright{
    float: left;
    width: auto;
    height: 427px;
    text-align: center;
    background-color: #414f63;
    border-radius: 15px;
    margin-top: 40px;
}

#cabecalho h1 {
    margin-top: 0%;
}

#cabecalho {
    padding: 0%;
    height: 45px;
    margin-top: 0%;
    background-color: #00c3a5;
    border-radius: 15px;
    margin-bottom: 5%;
}
