body #lista {
    width: 800px;
    height: auto;
    align-items: center;
    background-color: #414f63;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 10%;
}

#pagina {
    background-color: #3a485c;
    align-items: center;
    margin: 5%;
    width: auto;
    height: auto;
    padding: 40px;
}

body #perfil{
    background-color: #414f63;
    width: 250px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}

#dados {
    width: 700px;
    height: 200px;
}

#dados img {
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 30px;
    margin: 20px 50px 0 0;
    padding: 3px;
    background-color: #414f63;
    border: 1px solid #dbdbdb;
}

#info {
    float: right;
    width: auto;
    height: 50px;
    text-align: justify;
}





